{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Order</title>
    <style>
        #card-element {
            width: 500px;
        }
    </style>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
    var orderId = '{{ order.id }}';
    var stripePublishableKey = '{{ stripe_publishable_key }}';
    </script>
    <script src="{% static 'js/payment.js' %}"></script> <!-- Include the JavaScript file -->
</head>
<body>
    <h1>Order</h1>
    {% for order_item in order.orderitem_set.all %}
        <h2>{{ order_item.item.name }}</h2>
        <p>{{ order_item.item.description }}</p>
        <p>{{ order_item.item.price }}</p>
        <p>Quantity: {{ order_item.quantity }}</p>
    {% endfor %}
    <p>Discount: {{ order.discount.amount }}</p>
    <p>Tax: {{ order.tax.amount }}</p>
    <p>Total: {{ total_amount }}</p>
    <div id="card-element"><!--Stripe.js injects the Card Element--></div>
    <button id="buy-button">Buy</button>
    <p id="message"></p>
</body>
</html>